.App {
  text-align: center;
}
.App-header {
  background-image: url('https://img.ibxk.com.br///2016/09/13/13162448904561.jpg?w=1200&h=675&mode=crop&scale=both');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-image: url('https://i.pinimg.com/originals/62/40/b6/6240b66d5c50c8661eee78b439a7d33c.jpg');
  display: flex;
  flex-direction:column;
  flex-grow: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Mensagens-body{
  flex-grow: 1;
  border-left: 50px;

}